# Node modules
node_modules/

# Environment variables
.env
config.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
coverage/

# TypeScript
*.tsbuildinfo

# VSCode
.vscode/

# OS/system
.DS_Store
Thumbs.db

# ts-node / compiled output
*.js
*.js.map

